img {
    height: 200px;
    max-width: 300px;
}

h2, p {
    text-align: center;
}

li {
    text-align: center;
    list-style-type: none;
}

ul {
    list-style-type: none;
}

h2 {
    padding-top: 15px;
}

.city {
    display: inline-block;
    margin: 10px 10px;
    min-width: 25%;
    padding: 5px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.city__title {
    color: teal;
}

.bordered {
    border: 4px  groove rgba(0, 0, 0, 0.295);
}

.cityRow {
    padding: 10px 0;
}

